SPACE.TJG.Barcode.UI/Web References/wsTJG/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.36/TJGService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iWebServices" />
  <xs:import schemaLocation="http://192.168.1.36/TJGService/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/iWebServices.Objects" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iWebServices" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iWebServices" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectDBResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SqlConn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SqlConnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SqlConnResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDateServer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDateServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDateServerResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOnline">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsOnlineResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsUpdDistributionRet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsUpdDistributionRetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsUpdDistributionRetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsUpdDistributionRet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serial_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cust_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doc_no" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empty_or_full" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="create_date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsUpdDistributionRetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoInsUpdDistributionRetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsUpdGIDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsUpdGIDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsUpdGIDeliveryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsUpdGIDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serial_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="do_no" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="create_date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsUpdGIDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoInsUpdGIDeliveryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsUpdGIRefIOEmpty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsUpdGIRefIOEmptyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsUpdGIRefIOEmptyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsGIRefIOEmpty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serial_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="do_no" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="create_date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsGIRefIOEmptyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoInsGIRefIOEmptyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsUpdGRProduction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsUpdGRProductionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsUpdGRProductionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsGRProduction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serial_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pre_order" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="batch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="create_date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoInsGRProductionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoInsGRProductionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoLoadCustomer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoLoadCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoLoadCustomerResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoLoadCustomerByte">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoLoadCustomerByteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iWebServices.Objects" minOccurs="0" name="DoLoadCustomerByteResult" nillable="true" type="q3:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoLoadCustomerStored">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoLoadCustomerStoredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoLoadCustomerStoredResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>